.arrow {
    width:0; 
    height:0;    
    cursor: pointer; 
    border:7px solid transparent;
}

.arrow-up {
    border-bottom:7px solid #ddd;
}

.arrow-up:HOVER {
    border-bottom:7px solid #aaa;
}

.arrow-down {
    border-top:7px solid #ddd;
}

.arrow-down:HOVER {
    border-top:7px solid #aaa;
}

.arrow-up-active {
    border-bottom:7px solid #aaa;
}

.arrow-down-active {
    border-top:7px solid #aaa;
}
    
.arrow-left {
    border-top:30px solid transparent;
    border-bottom:30px solid transparent; 
    border-right:30px solid yellow; 
}
   
.arrow-right {
    border-top:50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid green;
}